@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Empowering Dreams Your Support Makes It Possible</h1>
    <p class="text-white">At  Ende Kisse, we believe that financial limitations shouldn't stop anyone from achieving their dreams.
        Whether it’s purchasing essential tools for a new venture, funding educational resources, or acquiring necessary items for personal growth, 
        we provide a space for individuals to connect with generous donors who want to make a real difference. By contributing to a campaign,
        donors help individuals overcome financial barriers, enabling them to purchase the items they need to succeed. Join us today in transforming lives, 
        one donation at a time. 
        Together, we can help others unlock their potential and create a brighter future.
    </p >
    <p class="text-white custom-bold contanier ">
        Whether you're looking to fund a new business, purchase essential tools for your education,
        or support a personal project, [Platform Name] makes it easy for individuals to raise the
        capital they need. Users can quickly create a campaign by sharing their story, outlining 
        their needs, and setting a funding goal. This transparent and simple process allows anyone
        to seek support for the things that matter most to them, without the burden of financial constraints.
        With the power of a supportive community, dreams are within reach
    , and every donation brings someone closer to achieving their goals.
    </p>
    
</div>
