@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white ">Empowering Dreams Your Support Makes It Possible</h1>
    <p class="text-white col-9 custom-blueblack p-3 rounded">
        At  Ende Kisse, we believe that financial limitations shouldn't stop anyone from achieving their dreams.
        Whether it’s purchasing essential tools for a new venture, funding educational resources, or acquiring necessary items for personal growth, 
        we provide a space for individuals to connect with generous donors who want to make a real difference. Join us today in transforming lives, 
        one donation at a time. 
        Together, we can help others unlock their potential and create a brighter future.
    </p >
    <p class="text-white col-9 custom-blueblack p-3 rounded ">
        Whether you're looking to fund a new business, purchase essential tools for your education,
        or support a personal project, Ende Kisse makes it easy for individuals to raise the
        capital they need. This transparent and simple process allows anyone
        to seek support for the things that matter most to them, without the burden of financial constraints.
     
    </p>
    
</div>
