@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="text-white col-9 custom-blueblack p-3 rounded">

    Last updated: January 8, 2025

    At Ende Kisse your privacy is important to us. This policy outlines how we collect, use, and share your personal data.
</p>
    <h1>Information We Collect</h1>
<p class="text-white col-9 custom-blueblack p-3 rounded">

    We collect personal information such as your name, email, phone number, payment details, campaign data, and usage data when you interact with our platform.
</p>
    <h1>How We Use Your Information</h1>
<p class="text-white col-9 custom-blueblack p-3 rounded">
    We use your data to:

    Provide and improve our services.
    Communicate updates and promotions 
    Ensure security and comply with legal obligations.
</p>
    <h1>How We Share Your Information</h1>

<p class="text-white col-9 custom-blueblack p-3 rounded">
   
    We may share your data with:

    Service providers (for payment processing, customer support, etc.).
    Campaign creators (for campaign-related purposes).
    Legal authorities (if required by law).
    Business transfers (in case of mergers or acquisitions).

    We will never sell your personal data.
</p>
    <h1> Data Security</h1>

<p class="text-white col-9 custom-blueblack p-3 rounded">
    We use industry-standard security measures to protect your data but cannot guarantee 100% security.
</p>

    <h1>Your Rights</h1>
<p class="text-white col-9 custom-blueblack p-3 rounded">
    You can:

    Access, correct, or delete your personal data.
    Opt-out of marketing communications.
    Withdraw consent for data processing at any time.
</p>


    <h1> Third-Party Links</h1>

<p class="text-white col-9 custom-blueblack p-3 rounded">
    Our site may contain links to external sites. We are not responsible for their privacy practices.
       </p>
  
    <h1> Changes to This Policy</h1>
<p class="text-white col-9 custom-blueblack p-3 rounded">
    We may update this Privacy Policy. Updates will be posted here with the "Last updated" date.
   </p>
